<html>
<body>
{%- macro add_header(page_num, max_pages, doc, letter_head, no_letterhead) -%}
{% if letter_head and not no_letterhead %}
{{ letter_head }}
{% endif %}

{% if max_pages > 1 %}
{% endif %}
{%- endmacro -%}
{{ add_header(0,1,doc,letter_head, no_letterhead) }}

<table style="width: 100%">
    <td style="width: 20%">
        <div style="width: 30mm;height: 30mm">
            <img class="qr-code" src="{{doc.qr_code}}">
        </div>
    </td>
    <td class="text-center" style="width: 80%;">
        <br>
        <h4>
            <b>
                     فاتورة ضريبة القيمة المضافة
            /VAT INVOICE
            </b>
            <br>
        </h4>
        <h4>
            <b>
                لرقم الضريبي
            :VAT NO: {{doc.company_tax_id}}
            </b>

        </h4>
    </td>
</table>
<table style="width: 100%">
    <tr>
        <td class="text-left" style="border: 1px solid black; width: 20%;font-size: small;background-color: white">
            Customer Code
        </td>
        <td class="text-center" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            {{doc.customer}}
        </td>
        <td class="text-center" style="border: 1px solid black;width: 15%;font-size: small;background-color: white">
            رمز العميل :
        </td>
        <td style="border: 1px solid black;width: 45%;font-size: small;background-color: white">
            <span >Customer Name & Address :</span>
            <span>

            اسم العميل وعنوانه :
              </span>

        </td>
    </tr>
    <tr>
        <td class="text-left" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            Invoice No
        </td>
        <td class="text-center" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            {{doc.name}}
        </td>
        <td class="text-center" style="border: 1px solid black;width: 15%;font-size: small;background-color: white">
                    رقم الفاتورة :
        </td>
        <td style="border: 1px solid black;width: 45%;font-size: small;background-color: white">
            {{doc.customer_name}}

        </td>
    </tr>
    <tr>
        <td class="text-left" style="border: 1px solid black; width: 20%;font-size: small;background-color: white">
           Date
        </td>
        <td class="text-center" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            {{doc.posting_date}}
        </td>
        <td class="text-center" style="border: 1px solid black;width: 15%;font-size: small;background-color: white">
                  تاريخ :
        </td>
        <td style="border: 1px solid black;width: 45%;font-size: small;background-color: white">
          {{doc.customer_name_in_arabic}}

        </td>
    </tr>
    <tr>
        <td class="text-left" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
          PO No
        </td>
        <td class="text-center" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            {{doc.po_no}}
        </td>
        <td class="text-center" style="border: 1px solid black;width: 15%;font-size: small;background-color: white">
              بو رقم :
        </td>
        <td style="border: 1px solid black;width: 45%;font-size: small;background-color: white">
           {% if frappe.db.get_value("Address", doc.customer_address, "address_in_arabic")%}
            {{frappe.db.get_value("Address", doc.customer_address, "address_in_arabic")}}
            {%endif%}
        </td>
    </tr>
    <tr>
        <td class="text-left" style=" border: 1px solid black;width: 20%;font-size: small;background-color: white">
          Month
        </td>
        <td class="text-center" style="border: 1px solid black;width: 20%;font-size: small;background-color: white">
            {%if doc.month%}{{doc.month}}{%endif%}
        </td>
        <td class="text-center" style="border: 1px solid black;width: 15%;font-size: small;background-color: white">
           شهر:
        </td>
        <td style="border: 1px solid black;width: 45%;font-size: small;background-color: white">
            الرقم الضريبي :                    ٣١٠٠٩٦٠٤٢٣٠٠٠٠٣
            VAT NO:
            {%if doc.tax_id%}
            {{doc.tax_id}}
            {%endif%}

        </td>
    </tr>

</table>

    <table style="margin-top: 1%;width: 100% !important;">
        <tr style="border: 1px solid black;">


        <td class="text-left" style="border: 1px solid black;width: 6%;font-size: small">
            <b>TOTAL SAR</b><br>
            <b>مجموع</b>
        </td>
        <td class="text-left" style="border: 1px solid black;width:10%;font-size: small">
            <b>UNIT PRICE</b><br>
            <b> سعر الوحدة</b>
        </td>
              <td class="text-left" style="border: 1px solid black;width: 4%;font-size: small">
            <b>QTY</b><br>
            <b> الكمية</b>
        </td>
             <td class="text-left" style="border: 1px solid black;width: 4%;font-size: small">
            <b>UNIT</b><br>
            <b>الوحدة</b>
        </td>
             <td class="text-left" style="border: 1px solid black;width: 45%;font-size: small">
            <b>DESCRIPTION</b><br>
            <b>البيان </b>
        </td>
            <td class="text-left" style="width: 1%;font-size: small">
                <b>SI</b><br>
                <b>الرقم </b>
            </td>




    </tr>
    {%for i in doc.items%}

     <tr>

      <td class="text-left" style="border: 1px solid black;width: 6%;font-size: small">

               <b>{{ "{:,.2f}".format(i.amount | abs) }}</b>
        </td>
        <td class="text-left" style="border: 1px solid black;width: 10%;font-size: small">

            <b>{{ "{:,.2f}".format(i.rate) }}</b>
        </td>
           <td class="text-left" style="border: 1px solid black;width: 4%;font-size: small">

            <b>{{i.uom}}</b>
        </td>
          <td class="text-left" style="border: 1px solid black;width: 4%;font-size: small">

            <b>{{"{:,.2f}".format(i.qty | abs)}}</b>
        </td>
          <td class="text-left" style="border: 1px solid black;width: 45%;font-size: small">

            <b>{{i.description}}</b>
        </td>
	    <td class="text-left" style="border: 1px solid black;width: 1%;font-size: small">

            <b>{{i.idx}}</b>
        </td>




    </tr>
    {%endfor%}
 <tr>
  <td colspan="2" class="text-left" style="border: 1px solid black;width: 6%;font-size: small">

                <b>{{ frappe.utils.fmt_money(doc.total_taxes_and_charges,currency=doc.currency) }}</b>
        </td>
        <td colspan="4" class="text-left" style="border: 1px solid black;width: 10%;font-size: small">
           <b>            ضريبة القيمة المضافة   % 15  Vat Value</b>
        </td>


    </tr>
        <tr>
        <td colspan="2" class="text-left" style="border: 1px solid black;width: 6%;font-size: small">

               <b>{{ frappe.utils.fmt_money(doc.grand_total,currency=doc.currency) }}</b>
        </td>
        <td colspan="4" class="text-left" style="border: 1px solid black;width: 10%;font-size: small">
           <b>          المجموع شامل ضريبة القيمة المضافة  Subtotal with Vat ValueVat Value</b>
        </td>


    </tr>
</table>
<table style="width: 100%;margin-top: 1%">
    <tr>
         <td colspan="2" class="text-center" style="border:1px solid black; width: 60%;font-size: small;background-color: lightgray">
         Bank Details

        </td>
        <td class="text-center" style="border:1px solid black;width: 40%;font-size: small;background-color: lightgray">
           RECEIVED BY ( تم الاستلام )
        </td>
    </tr>
    <tr>
         <td class="text-left" style="border:1px solid black; width: 20%;font-size: small;background-color: white">
             Account Name:<br>
            Bank Name:<br>
             Branch:<br>
            Account No:<br>
            IBAN No:<br>
            Swift Code:<br>
         </td>
        <td class="text-left" style="border:1px solid black;width: 40%;font-size: small;background-color: white">
            {%if doc.account_name%}{{doc.account_name}}{%endif%}<br>
            {%if doc.bank_name%}{{doc.bank_name}}{%endif%}<br>
            {%if doc.branch%}{{doc.branch}}{%endif%}<br>
            {%if doc.account_no%}{{doc.account_no}}{%endif%}<br>
            {%if doc.iban_no%}{{doc.iban_no}}{%endif%}<br>
            {%if doc.swift_code%}{{doc.swift_code}}{%endif%}
        </td>
        <td class="text-left" style="border:1px solid black;width: 40%;font-size: small;background-color: white">
            <br><br><br><br>
            Name:<br>
            Signature & Stamp:
        </td>
    </tr>
</table>
<table style="width: 100%;margin-top: 1%">
    <tr>
    <td colspan="2" class="text-center" style="border:1px solid black;width: 100%;background-color: lightgray">AUTHORIZED SIGNATORY (المفوض بالتوقيع)</td>

    </tr>
    <tr>
         <td class="text-left" style="border:1px solid black;width: 50%;font-size: small;background-color: white">
            Prepared by:
        </td>
         <td class="text-left" style="border:1px solid black;width: 50%;font-size: small;background-color: white">
           Checked by:
        </td>
    </tr>
     <tr>
         <td class="text-left" style="border:1px solid black;width: 50%;font-size: small;background-color: white">
            Verified by:
        </td>
         <td class="text-left" style="border:1px solid black;width: 50%;font-size: small;background-color: white">
           Approved by:
        </td>
    </tr>
</table>

</body>
</html>